.icon {
  height: 150px;
  width: 150px;
}

.clear-day {
  @extend .icon;
  background-image: url('../icons/clear-day.svg');
}

.clear-night {
  @extend .icon;
  background-image: url('../icons/clear-night.svg');
}

.cloudy {
  @extend .icon;
  background-image: url('../icons/cloudy.svg');
}

.fog {
  @extend .icon;
  background-image: url('../icons/fog.svg');
}

.partly-cloudy-day {
  @extend .icon;
  background-image: url('../icons/partly-cloudy-day.svg');
}

.partly-cloudy-night {
  @extend .icon;
  background-image: url('../icons/partly-cloudy-night.svg');
}

.rain {
  @extend .icon;
  background-image: url('../icons/rain.svg');
}

.sleet {
  @extend .icon;
  background-image: url('../icons/sleet.svg');
}

.snow {
  @extend .icon;
  background-image: url('../icons/snow.svg');
}

.wind {
  @extend .icon;
  background-image: url('../icons/wind.svg');
}

.LowHighRangeBar {
  width: 100%;
  border: 1px solid black;
  height: 48px;
  display: grid;
  align-items: center;
  grid-template-columns: 48px 48px 48px 1fr 48px 48px;
  font-size: 20px;
  vertical-align: middle;
}

.small-icon {
  width: 48px;
  height: 48px;
}

.bar-container {
  height: 20px;
  margin-bottom: 6px;
  grid-column: 4/5;
}

.bar {
  height: 17px;
  background-color: #333333;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.high {
  vertical-align: middle;
  position: absolute;
  right: -42px;
  top: -3px;
}

.button {
  grid-column: 6/7;
}

.low {
  position: absolute;
  left: -35px;
  top: -3px;
}

.day {
  margin-left: 8px;
}