.icon {
  height: 150px;
  width: 150px;
}

.clear-day {
  @extend .icon;
  background-image: url('../icons/clear-day.svg');
}

.clear-night {
  @extend .icon;
  background-image: url('../icons/clear-night.svg');
}

.cloudy {
  @extend .icon;
  background-image: url('../icons/cloudy.svg');
}

.fog {
  @extend .icon;
  background-image: url('../icons/fog.svg');
}

.partly-cloudy-day {
  @extend .icon;
  background-image: url('../icons/partly-cloudy-day.svg');
}

.partly-cloudy-night {
  @extend .icon;
  background-image: url('../icons/partly-cloudy-night.svg');
}

.rain {
  @extend .icon;
  background-image: url('../icons/rain.svg');
}

.sleet {
  @extend .icon;
  background-image: url('../icons/sleet.svg');
}

.snow {
  @extend .icon;
  background-image: url('../icons/snow.svg');
}

.wind {
  @extend .icon;
  background-image: url('../icons/wind.svg');
}