.icon {
  height: 80px;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
}

.clear-day {
  @extend .icon;
  background-image: url('../icons/clear-day.svg');
}

.clear-night {
  @extend .icon;
  background-image: url('../icons/clear-night.svg');
}

.cloudy {
  @extend .icon;
  background-image: url('../icons/cloudy.svg');
}

.fog {
  @extend .icon;
  background-image: url('../icons/fog.svg');
}

.partly-cloudy-day {
  @extend .icon;
  background-image: url('../icons/partly-cloudy-day.svg');
}

.partly-cloudy-night {
  @extend .icon;
  background-image: url('../icons/partly-cloudy-night.svg');
}

.rain {
  @extend .icon;
  background-image: url('../icons/rain.svg');
}

.sleet {
  @extend .icon;
  background-image: url('../icons/sleet.svg');
}

.snow {
  @extend .icon;
  background-image: url('../icons/snow.svg');
}

.wind {
  @extend .icon;
  background-image: url('../icons/wind.svg');
}

.WeatherContainer--width {
  margin: auto;
  width: 90%;
}

.article {
  @extend .WeatherContainer--width;
  text-align: center;
  justify-content: space-between;
}

.article--header {
  grid-column: 1/4;
  margin-bottom: 16px;
}

.article--div {
  margin: auto;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header--span--feels {
  margin-right: 5%;
}

.header--span--precip {
  margin-left: 5%;
}

.p {
  margin: 4px;
}

.section {
  @extend .WeatherContainer--width;
}

.section--h3 {
  text-align: center;
  margin: 16px;
}